// Sizes
$menu-lg-size: 40%;
$menu-sm-size: 45%;
$menu-xs-size: 100%;
$maxi-size: 125rem;

// Slots
$slot-size: 4rem;
$slot-border-size: 4px;

// Stone
$stone-size: $slot-size;

// Markers
$markers-x-size: 3rem;

// Hoshi
$hoshi-size: 1rem;