.stone {
    width: $stone-size;
    height: $stone-size;
    border-radius: 100%;
    transform: translate3d(1px,1px,0);
    position: relative;
    z-index: $firstLevelLayer;
    .slot.userBlack & {
        background-color: black;
    }
    .slot.userWhite & {
        background-color: $white--gloomy;
    }
}