.goban {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    &--small {
        $size:9;
        .goban__field {
            width: $slot-size*$size;
        }
        .goban__top {
            width: $slot-size*$size + $markers-x-size;
        }
    }
    &--medium {
        $size:13;
        .goban__field {
            width: $slot-size*$size;
        }
        .goban__top {
            width: $slot-size*$size + $markers-x-size;
        }
    }
    &--large {
        $size: 19;
        .goban__field {
            width: $slot-size*$size;
        }
        .goban__top {
            width: $slot-size*$size + $markers-x-size;
        }
    }
    &__bottom {
        display: flex;
        .goban__markers {
            flex-direction: column;
            width: $markers-x-size;
            padding: ($slot-size/2 - 0.5rem) 0;
            &--y {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
        }
        .goban__marker {
            display: flex;
            align-items: center;
        }
    }
    &__top {
        .goban__markers {
            padding-left: $markers-x-size + 2rem;
            padding-right: $slot-size/2;
            &--x {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &__field {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    &__markers {
        display: flex;
    }
    &__marker {
        font-size: 1.8rem;
        font-weight: bold;
    }
}